Dependencies/
Debug/
Bachelor Project/Debug/
Bachelor Project/summer_house.ply
Bachelor Project/Bachelor Project.vcxproj
Bachelor Project/Bachelor Project.vcxproj.filters
Bachelor Project/Bachelor Project.vcxproj.user
.vs/
Bachelor Project/glm/